{deps, [
  {useful_tools, ".*", {git, "https://github.com/ziyouchutuwenwu/useful_tools", {branch, "master"}}}
]}.

%% rebar3 shell 的时候触发
{shell, [
  {config, "config/sys.config"},
]}.


{pre_hooks, [
  {clean, "rm -rf ./_build; rm -rf ./rebar.lock"}
]}.
{provider_hooks, [
%%  {pre, [{compile, clean}]}
  ]
}.

{cover_enabled, true}.
{eunit_opts, [
    verbose, {
        report,{
            eunit_surefire,[
                {dir,"./_build/test"}
            ]
        }
    }
]}.
